<footer class="bg-gray-800 text-white py-4 text-center w-100">
  <p> &copy; 2025 My Shop. All rights reserved.</p>
  <p class="mt-1">
    <a href="https://wa.me/201234567890" target="_blank" class="text-green-400">
      <strong>للتواصل واتساب</strong>
    </a>
  </p>
</footer>