<footer class="bg-gray-800 text-white py-4 text-center w-100">
  <p> &copy; جميع الحقوق محفوظة</p>
  <p class="mt-1">
    <a
      href="https://wa.me/201120250073"
      target="_blank"
      class="text-green-400 hover:underline"
    >
      <strong>للإستفسار تواصل واتس اب</strong>
    </a>
  </p>
</footer>