<nav class="bg-white shadow-md py-4 px-8 flex justify-between items-center">
  <div class="flex items-center gap-3">
    <a
      href="/view"
      class="text-gray-700 hover:text-blue-500 font-medium transition"
    >القائمة الرئيسية</a>
  </div>
  <h1
    class="text-2xl font-bold text-blue-300 hover:text-blue-500 transition cursor-pointer"
  >جدو سعدي </h1>
</nav>