<nav class="bg-[#0077ff] shadow-md py-4 px-4">
  <div class="container flex justify-between items-center mx-auto">

    <div class="flex items-center gap-3">
      <a
        href="/view"
        class="text-white text-lg font-bold sm:text-2xl border-none"
      >
        القائمة الرئيسية
      </a>
    </div>
    <h1 class="text-white text-lg font-bold sm:text-2xl">Gedo Saadi (جدو سعدي )</h1>
  </div>
</nav>