<h1 class="text-3xl font-bold my-8 text-center">{{category.name}}</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
  {{#each products}}
    <div class="bg-white rounded-lg shadow-md hover:shadow-lg transition">
      <img
        src="{{this.imageUrl}}"
        alt="{{this.name}}"
        class="w-full object-cover"
      />
      <div class="p-4 text-center">
        <h2 class="text-lg font-semibold mb-2">{{this.name}}</h2>
        <a
          href="https://wa.me/201234567890"
          target="_blank"
          class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600"
        >
          <strong>للتواصل واتس اب</strong>

        </a>
      </div>
    </div>
  {{/each}}
</div>